* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-logo: 'Staatliches', cursive;
  --ff-txt-mob: 'Palanquin', sans-serif;
  --ff-txt-desk: 'Roboto', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;
 
  
  --fc-header:  hsl(0, 0%, 100%);
  --fc-text: hsl(274, 84%, 12%);
  --fc-header2: hsl(232, 17%, 35%);
  
  --bg-body: hsl(312, 91%, 96%);
  --bg-header: hsl(218, 17%, 62%);
  --bg-logo: hsl(275, 18%, 79%);

  font-size: 62.5%;
}

.page {
  width: 38.4rem;
  background: var(--bg-body);
}

header {
  background:var(--bg-header);
  height: 27.9rem;

  display: grid;
  align-items: center;

  animation-name: slidein;
  animation-duration: 2s;
}

img {
  max-width: 100%;
  height: auto;
}

header .img {
 margin: 3rem auto;
}


header h1 {
  font-family: var(--ff-logo);
  font-size: 4rem;
  color: var(--fc-header);
  
  padding: 0.8rem 8.7rem;

  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  margin-bottom: 2.8rem;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background: var(--bg-logo);

}

.text-mobile p {
  font-family: var(--ff-txt-mob);
  color: var(--fc-text);
  
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  
  align-items: center;
  text-align: center;
  margin: 1.4rem 4.3rem 6.3rem 3.6rem;
  animation-name: slidein;
  animation-duration: 2s;
}

.text-desktop p {
  font-family: var(--ff-txt-desk);
  font-size: 1.8rem;
  color: var(--fc-header);

  margin: 2.5rem auto 12rem;

  display: none;
  font-weight: 400;
  line-height: 2rem;
  align-items: center;
  text-align: center;
  animation-name: slidein;
  animation-duration: 2s;
}

.gallery, .text-desktop{
  padding: 0 3.2rem;
  display: grid;
  gap: 3.6rem;
}

.card {
  position: relative;
  border-radius: 2rem;
  animation-name: identifier;
  animation-duration: 2s;
}

.card img {
  width: 100%;
  height: auto;
}

.card:hover {
  opacity: 0.5;
}
.gallery > div:nth-child(5),
.gallery > div:nth-child(6) {
  display: none;
}
.card h2 {
  position: absolute;
  font-size: 2rem;
  font-family: var(--ff-logo);
  color: var(--fc-header2);

  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  
  text-align: center;
  top: 1.6rem;
  right: 1.6rem;
  padding: 0.1rem 2.4rem;
  background: var(--bg-body);
  border-radius: 2.0rem;
}

footer {
  display: none;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes identifier {
  0% {
    opacity: 0;
    transform: rotateX(0);
  }
  100% {
    opacity: 1;
    transform: rotateX(180);
  }
}

@media (min-width: 600px) {
  
  .page {
    display: flex;
    width: 128rem;
    background: var(--bg-body);
   }
  
   .first-box {
    width: 37.7rem;
    height: auto;
    background: var(--bg-header);
   }
   header{
    height: auto;
   }
   header h1{
    font-size: 4.8rem;
    padding: 2rem 6.4rem;
    margin: 0;
   }

   .text-mobile {
    display: none;
   }
   .text-desktop p {
    display: block;
   }

  .gallery {
    display: grid;
    
    grid-template-areas: 
    "A B"
    "D B"
    "D E"
    "F C";
    padding: 3rem;
  }

  .gallery > div:nth-child(1) {
    grid-area: A;
  }
  .gallery > div:nth-child(2) {
    grid-area: B;
  }
  .gallery > div:nth-child(3) {
    grid-area: C;
  }
  .gallery > div:nth-child(4) {
    grid-area: D;
  }
  .gallery > div:nth-child(5) {
    display: grid;
    grid-area: E;
  }
  .gallery > div:nth-child(6) {
    display: grid;
    grid-area: F;
  }
}

@media (min-width: 980px) {
  .gallery {
    grid-template-areas: 
    "A B C"
    "D B F"
    "D E F";
    align-items: center;
    max-height: 72rem;
    max-width: 90.3rem;
    margin: 3rem;
  }
.secondbox {
    display: grid;
  }
  .card h2 {
    display: none;
  }

  footer {
    display: block;
  }

  .contato p, .contato a{
    font-family: var(--ff-footer);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: center;
    color: var(--fc-header2);
  }
  
  .contato a {
    font-weight: bold;
    text-decoration: none;
  }

  .contato a:hover {
    opacity: 0.5;
  }

  
  
}
